<div class="dialog">
    <h1>Update Product Details</h1>
    <hr>
    <div class="block">
        <form #updateForm="ngForm">
            <label for="name">PRODUCT NAME
                <input id="name"
                       class="form-control"
                       name="product_name"
                       [(ngModel)]="name" />
            </label><br><br>
            <label for="price">PRODUCT PRICE
                <input id="price"
                       class="form-control"
                       name="product_price"
                       [(ngModel)]="price" />
            </label><br><br>
            <label for="description">PRODUCT DESCRIPTION
                <textarea id="description"
                          class="form-control"
                          name="product_description"
                          [(ngModel)]="description"></textarea>
            </label><br><br>
            <button class="btn btn-danger"
                    (click)="closeDialog()">Cancel</button>
            <button class="btn btn-success"
                    (click)="submitDetails(updateForm)">Update</button>
        </form>
    </div>
</div>