<div *ngIf="!playerName">
  <h1>Submit Player Name To Start Game!</h1><br>
  <div>
    <form #game="ngForm">
      <label for="name">Player Name :
        <input id="name"
               name="player-king"
               placeholder="Enter player name"
               [(ngModel)]="player"
               required>
      </label> <br>
      <button type="submit"
              class="btn btn-success m-3"
              (click)="submitPlayer(game)"
              [disabled]="!game.form.valid">Submit</button>
    </form>
  </div>
</div>
<div *ngIf="playerName">
  <div class="players-name">
    <button class="playerName">{{playerName | uppercase }}</button>
    <button class="playerName">COMPUTER</button>
  </div>
  <br />
  <div class="picture">
    <button class="hand">✊</button><br>
    <strong>ROCK</strong>
    <button class="hand">🖐️</button><br>
    <strong>PAPER</strong>
    <button class="hand">✌️ </button><br>
    <strong>SCISSORS</strong>
  </div>

</div>