<div class="container">
  <div (mouseleave)="showDropDown = false">
    <button class="txt" (click)="showDropDown = !showDropDown">
      <span *ngIf="unique.length > 0"
        ><i>Selected {{ unique }}</i></span
      >
      <span *ngIf="unique.length === 0"><i>To Be Select</i></span>
    </button>

    <div *ngIf="showDropDown">
      <label *ngFor="let a of list" class="dropdown-content">
        <input
          type="checkbox"
          (change)="getSelectedValue(a.checked, a.name)"
          [(ngModel)]="a.checked"
        />
        <span
          [ngStyle]="{
            'background-color': a.checked ? '#F6F7F8' : '#d6ecbf',
            color: a.checked ? '#4b4bc7' : 'black'
          }"
          >{{ a.name }}</span
        >
      </label>
    </div>
  </div>
</div>
