<p>tag-suggest-multi-select works!</p>
<div>
  <div (mouseleave)="showDropDown = false">
    <button class="txt" (click)="showDropDown = !showDropDown"></button>
  </div>
  <label *ngFor="let a of list">
    <input
      type="checkbox"
      (change)="getSelectedValue(a.checked, a.name)"
      [(ngModel)]="a.checked"
    />
    <span
      [ngStyle]="{
        'background-color': a.checked ? '#F6F7F8' : 'white',
        color: a.checked ? '#4b4bc7' : 'black'
      }"
      >{{ a.name }}</span
    >
  </label>
</div>
