<div class="container table-view"
     *ngIf="products; else emptyPage">
  <div class="headers">
    <h2 class="table-title">TABLE VIEW</h2>
    <div class="input-group w-50">
      <input class="form-control"
             type="text"
             [(ngModel)]="searchInput"
             (keyup)="getfilterData()" />
      <button class="btn btn-primary"
              (click)="getfilterData()">Search</button>
      <button class="btn btn-secondary"
              (click)="sort('asc')">⬆️</button>
      <button class="btn btn-secondary"
              (click)="sort('dsc')">⬇️</button>
    </div>
    <button class="btn add"
            (click)="openAddDetails()">Add ROW DATA</button>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>PRICE</th>
        <th>DESCRIPTION</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody class="text-center">
      <tr *ngFor="let data of products">
        <td>{{ data.id }}</td>
        <td>{{ data.name}}</td>
        <td>{{ data.price}}</td>
        <td>{{data.product_info}}</td>
        <td><button class="btn btn-primary"
                  (click)="openDialog(data)">Edit</button></td>
        <td>
          <button class="btn btn-danger"
                  (click)="deleteData(data)">
            Delete
          </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #emptyPage>
  <div class="empty-Page">
    <img src="../../../assets/EmptyFolder.jpg"
         alt="empty_folder" /><br /><br />
    No Data Available
  </div>
</ng-template>